{% extends 'layout.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    {% for result, urls in profiles %}
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{{ urls }}" alt="User profile photo">
            <a href="{{ url_for('main.update_photo')}}" class="btn btn-outline-secondary btn-sm">edit photo</a>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{result.username}}</h4>
                <h7 class="text-secondary">{{ result.gender }}</h7>
                <p class="card-text">{{ result.bio }}</p>
                <a href="{{ url_for('main.update_profile')}}" class="btn btn-outline-secondary">edit profile</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}