{% extends 'layout.html' %}
{% block content %}
    <br>
    <br>
    <head>
    </head>
    <body>
    <h1 style="text-align: center;"><span style="color: #000000; font-size: 36pt;"><strong><span style="font-family: 'times new roman', times, serif;">Improve Air Quality</span></strong></span></h1>
    <p style="text-align: center;"><span style="color: #000000; font-size: 18pt;"><strong><span style="font-family: 'times new roman', times, serif;">PM2.5 &amp; PM 10 Dashboard</span></strong></span></p>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;"><span style="color: #000000; font-size: 18pt;"><strong><span style="font-family: 'times new roman', times, serif;">Let's learn more about the air quality data! 🧐</span></strong></span></p>
        <a href="{{ url_for('/dashboard/')}}" button class="btn btn-outline-secondary" type="button" style="align-self: center">Let's get started!</a>
    <p>&nbsp;</p>
    </body>
    <br>
    <h2>Latest air quality news</h2>
    {% for article in news['articles'] %}
        <p><a href="{{ article.url|e }}">{{ article.title|e }}</a></p>
    {% endfor %}
{% endblock %}