{% extends 'layout.html' %}
{% set title = 'Profile' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.photo, class="custom-file", id="input_file") }}
            <div class="card" style="width: 15rem;">
                <img class="card-img" src="{{url_for('static', filename='img/' + filename)}}" alt="User profile photo">
            </div>
        </dl>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ url_for('main.profile')}}" class="btn btn-secondary" size="20rem" >Back</a>
    </form>
{% endblock %}